.icon_search {
    width: 35px;
    height: 35px;
}
.poke_name{
    font-size: 2rem;
    font-weight: bolder;
    color: #316AB1;
    text-transform: capitalize;
    margin-top: 1rem;
    text-align: center;
}

/* .container{
    background-image: "url('/images/bg-poke.png')";
} */